* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --brand: hsl(172, 67%, 45%);
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --very-light-grayish-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
}

.body {
  background-color: var(--light-grayish-cyan);
  height: 100vh;
}

.title {
  color: var(--very-dark-cyan);
  text-align: center;
}

.container {
  background-color: var(--white);
  min-height: 400px;
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
  min-width: 25vw;
  border-radius: 4%;
  display: flex;
  justify-content: center;
  padding: 25px;
}

.calculate {
  box-sizing: border-box;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 6;
}

.summary {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: var(--very-dark-cyan);
  border-radius: 4%;
  justify-content: space-between;
  flex: 7;
}

.resetBbox {
  text-align: center;
  margin-bottom: 15px;
}


.tipBox{
  display: flex;
  flex-direction: column;
}

.tips{
  display: flex;
  flex-wrap: wrap;
}

.custom{
  color: hsl(184, 14%, 56%);
  background-color: hsl(185, 41%, 84%);
  height: 40px;
  width: 5vw;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
  border: none;
  border-radius: 10%;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  outline-color: var(--brand);
}


@media(max-width:800px){
  .container{
    min-width: 350px;
    flex-direction: column;
    align-items: center;
  }
  .calculate{
    flex: 5;
  }
  .summary{
    flex: 4;
    width: 95%;
  }
  .box{
    width: 90%;
  }
  .input{
    width: 70vw;
  }
  .tips{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .defaultBtn{
    width: 35vw;
  }
  .custom{
    width: 35vw;
  }
  .resetBtn{
    width: 65vw;
  }
}